@import './src/styles/variables', './src/styles/mixins/for-size', './src/styles/mixins/placeholder';

.form {
  margin: auto;
  width: 80%;

  @include for-size(phone-only) {
    width: 100%;
  }
}

.input {
  width: 100%;
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.submitButton {
  padding: 0 20px;

  @include for-size(phone-only) {
    width: 100%;
    justify-content: flex-end;
  }
}

.arrow {
  width: 30px;
  height: 20px;

  path {
    fill: $color_white;
  }
}
