// Colors
$color_bg: rgb(254, 254, 254);
$color_black: rgb(29, 29, 29);
$color_white: rgb(254, 254, 254);
$color_grey: rgb(73, 80, 87);
$color_light_grey: rgb(81, 83, 85);
$color_light_grey_2: rgb(235, 235, 235);
$color_lighter_gray: rgb(243, 242, 242);
$color-red: rgb(255, 86, 48);
$color_light_red: rgb(255, 235, 230);
$color_green: rgb(54, 179, 126);
$color_light_green: rgb(227, 252, 239);
$color_orange: rgb(255, 171, 0);
$color_light_orange: rgb(255, 250, 230);
$color_blue: rgb(38, 132, 255);

$bold_font: 700;

$small_size: 0.7rem;
$medium_size: 1rem;
$x_medium_size: 1.2rem;
$large_size: 1.5rem;
$x_large_size: 2rem;
$xx_large_size: 3rem;
