@import '../../styles/reset', './src/styles/variables', './src/styles/mixins/for-size',
  './src/styles/mixins/placeholder';

.container {
  margin: 10px 5px;
  display: block;
  background-color: $color_bg;
  font-family: 'ReaderPro', sans-serif;
  font-weight: 400;
  color: $color_black;

  @include for-size(tablet-portrait-up) {
    font-size: $small_size;
  }

  @include for-size(tablet-landscape-up) {
    font-size: $medium_size;
  }

  @include for-size(desktop-up) {
    font-size: $x_medium_size;
  }
}
