@import './src/styles/variables', './src/styles/mixins/for-size', './src/styles/mixins/placeholder';

.user {
  cursor: pointer;
  display: flex;
  gap: 10px;

  img {
    border-radius: 50%;
    border: 1px solid $color_black;
  }

  span {
    display: inline-flex;
    align-items: center;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.logo {
  cursor: pointer;

  @include for-size(phone-only) {
    width: $large_size;
    height: $large_size;
  }

  @include for-size(tablet-portrait-up) {
    width: $large_size;
    height: $large_size;
  }

  @include for-size(desktop-up) {
    width: $x_large_size;
    height: $x_large_size;
  }
}

.accountContainer {
  align-items: center;
  display: flex;
  height: 40px;

  ul {
    width: 130px;
  }
}
